<?xml version="1.0" encoding="UTF-8"?>
<!-- 
PNUMBER  NOT NULL NUMBER(4)      
PID               VARCHAR2(12)   
PTITLE            VARCHAR2(30)   
PCONTENT          VARCHAR2(3000) 
PIMAGE            VARCHAR2(1000) 
PHIT              NUMBER(5)      
PLIKE             NUMBER(5)      
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sejong.ex.mapper.BoardMapper">
    <select id="selectList" resultType="edu.sejong.ex.vo.BoardVO">
        <![CDATA[
			select * from (
			    select a.*, rownum as rn from (
			        select * from board a order by pnumber desc
			    ) a where rownum <= 20 * #{page}
			) where rn > 20 * (#{page} - 1)		
        ]]>
    </select>
    <select id="selectListWithBuid" resultType="edu.sejong.ex.vo.BuserVO">
        <![CDATA[
        	select * from buser where buid = #{buid}
        ]]>
    </select>
    <select id="selectCountOfBoard" resultType="int">
        <![CDATA[
        	select count(*) from board
        ]]>
    </select>
    <insert id="insertIntoBuser">
        <![CDATA[
			insert into buser values (
			    #{buid},
			    #{bupw}
			)
		]]>
    </insert>
    <insert id="insertIntoBoard">
        <![CDATA[
			insert into board values (
			    board_sequence.nextval,
			    #{pid},
			    #{ptitle},
			    sysdate,
			    #{pcontent},
			    #{pimage},
			    0,
			    0
			)
		]]>
    </insert>
    
    <insert id="insertIntoComments">
        <![CDATA[
			insert into comments values (
			    #{pnumber},
			    comment_sequence.nextval,
			    null,
			    #{cid},
			    #{ccontent},
			    sysdate
			)
		]]>
    </insert>
    
    
    <select id="selectCommentList" resultType="edu.sejong.ex.vo.CommentsVO">
        <![CDATA[
			select * from comments where pnumber = #{pnumber}
        ]]>
    </select>    
    

    
</mapper>